
* {
  box-sizing: border-box;
}

body {
  margin : 0;
  padding : 0;
}

.main-container {
  text-align: center;
  width: 100%;
  height: 850px;
  background-color: aliceblue;
  
}


img {
  margin-top: 250px;
  width: 130px;
}

h1 {
  font-family: 'Merriweather', serif;
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 50px;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.special {
  box-shadow: inset 0 -16px 0 0px #F5ED09;
}

.special2 {
  color: #2C2C9E;
  font-weight: 800;
}


@media only screen and (max-width: 380px) {
  
  .main-container {
    background-color: black;
  }
  
  h1 {
  font-family: 'Merriweather', serif;
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 50px;
  color: white;
}
  p {
    color: lightcoral;
  }
  
  .special {
    background-color: white;
    color: firebrick;
  }
  
  .special2 {
    background-color: lightgoldenrodyellow;
    color: black;
  }
  
  img {
    width: 300px;
    margin-top: 150px;
  }
  
}




















